<?xml version="1.0"?>
<config>
    <modules>
        <Uar_Custom>
            <version>0.1.0</version>
        </Uar_Custom>
    </modules>
    <admin>
    </admin>
    <global>
        <models>
            <custom>
                <class>Uar_Custom_Model</class>
                <resourceModel>custom_entity</resourceModel>
            </custom>
            <custom_entity>
                <class>Uar_Custom_Model_Entity</class>
                <entities>
                </entities>
            </custom_entity>
        </models>
        <blocks>
            <custom>
                <class>Uar_Custom_Block</class>
            </custom>
        </blocks>
        <helpers>
            <custom>
                <class>Uar_Custom_Helper</class>
            </custom>
        </helpers>
        <resources>
            <uar_custom_setup>
                <setup>
                    <module>Uar_Custom</module>
                    <class>Uar_Custom_Model_Entity_Setup</class>
                    <connection>core_setup</connection>
                </setup>
            </uar_custom_setup>
        </resources>
    </global>
    <adminhtml>
    </adminhtml>
    <frontend>
        <events/>
        <routers/>
        <translate>
            <modules>
                <Uar_Custom>
                    <files>
                        <default>Uar_Custom.csv</default>
                    </files>
                </Uar_Custom>
            </modules>
        </translate>
        <layout/>
    </frontend>
    <default>
        <custom>
        </custom>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Uar_Custom/>
            </modules>
        </suite>
    </phpunit>
</config>

